.hola{
 background-color: aquamarine; 
 size-adjust: 23;   
}

.hola2{
    background-color: aquamarine;

   }

   .hola3{
    background-color: aquamarine;
   }

   .hola4{
    background-color: aquamarine;
   }

   .hola5{
    background-color: aquamarine;
   }