* {
    color: #74125b;
    font-style: italic;
}

.bordes {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: block; 
    margin-bottom: 10px; 
}

body {
    background-color: #f396aa5b;
    color: #74125b;
}
.titulo {
    color: #74125b;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #74125b;
}
.parrafos {
    color: #74125b;
    font-style: italic;
    text-align: justify;
}

header {
    background-color: #f396aab0;
    color: #74125b; /* Cambiado a #74125b para que sea visible */
    padding: 60px 0;
    text-align: center;
}

.enlace {
    color: #74125b;
    text-align: center;
    background-color: #f396aab0;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #74125b;
    display: inline-block; 
    margin: 5px; 
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f396aa;
    z-index: 1000;
    border-bottom: 3px solid #74125b;       
}

nav a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f396aaa8;
    text-decoration: none;
    color: #74125b;
    transition: background-color 0.3s, color 0.3s;
}

article {
    padding: 20px;
    margin: 20px;
    background-color: #f396aab0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #74125b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #74125b;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f396aab0;
}

table img {
    display: block;
    margin: 0 auto;
}

.rounded-img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.video {
    border: 20px solid #f396aaa8;
    border-radius: 20px;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

.video-container iframe {
    display: inline-block;
}

.main-nav {
    text-align: left;
    padding: 10px;
}

nav a:hover {
    background-color: #74125b;
    color: #f396aa;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-nav .menu {
    position: relative;
}

.main-nav .dropbtn {
    background-color: #f396aab0;
    color: #74125b;
    padding: 15px;
    border: 1px solid #74125b;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav .dropbtn:hover {
    background-color: #74125b;
    color: #f396aa;
}

.main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f396aada;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.main-nav .dropdown-content a {
    color: #74125b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
}

.main-nav .dropdown-content a:hover {
    background-color: #dddddd;
}

.main-nav .menu:hover .dropdown-content {
    display: block;
}