* {
    color: #74125b; /* Color de fuente diferente de negro */
    font-style: italic; /* Fuente en itálicas */
}

header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f19eb0d7;
    border-radius: 20PX;
}
.home {
    color: #74125b;
    font-style: italic;
    font-weight: bold;
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #74125b;
}

body {
    background-color: #f396aa5b;
}

nav {
    position: fixed; /* Hacer que el nav siga al hacer scroll */
    top: 0;
    width: 100%;
    background-color: #f396aa;
    z-index: 1000;
    border-bottom: 2px solid #74125b;       
}

nav a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f396aaa8;
    text-decoration: none;
    color: #74125b;
    transition: background-color 0.3s, color 0.3s;
}

nav a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f396aaa8;
}

.text-centrado {
    text-align: center;
}

.fondo {
    background-color: #f396aaa8;
}

.video {
    border: 20px solid #f396aaa8;
    border-radius: 20px;
}

.navega {
    border: 20px solid #f396aa00;
    border-radius: 100px;
    background-color: #f396aa65;
}

/* Nevesario para Como cuidar flores*/
.titulo {
    color: #74125b;
    font-style: italic;
    font-weight: bold;
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #74125b;
}

.parrafos {
    color: #74125b;
    font-style: italic;
    text-align: justify;
}

.imgFormato[src*="flores"] {
    width: 390px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

/* Selector por ID */
#contacto {
    text-align: center; /* Alineación de texto centrado */
    text-decoration: underline; /* Decoración de texto subrayado */
}

/* Selector para elemento en línea */
span.important {
    font-weight: bold; /* Texto en negritas */
    text-transform: capitalize; /* Transformación del texto a capitalizado */
}

/* Selector de atributos para imágenes */
.imgan{
    width: 150px; /* Ancho */
    height: 150px; /* Alto */
    border-radius: 50%; /* Radio del borde */
}

iframe {
    display: block;
    margin: 0 auto;
}

audio {
    display: block;
    margin: 0 auto;
}

.centrar-tabla {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f396aab0; /* Opcional, para visualizar la tabla */
}

.ttabla {
    font-size: 22px; /* Tamaño de fuente personalizado */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    padding: 10px; /* Espaciado interno de las celdas */
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f396aaa8;
}

.dtabla {
    font-size: 16px; /* Tamaño de fuente personalizado */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    padding: 10px; /* Espaciado interno de las celdas */
    border-radius: 20px;
    text-align: center;
    border: 2px solid #f396aaa8;
}

.bordes {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.image-text-container {
    position: relative;
    display: inline-block;
    width: 100%;      
}
.bordesima{
    border-radius: 20px;
}
.image-text-container img {
    display: block;
    width: 100%;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    background: rgba(131, 8, 8, 0.212); /* Fondo semi-transparente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    backdrop-filter: blur(5px); /* Desenfoque del fondo */
}
nav a:hover {
    background-color: #74125b;
    color: #f396aa;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-nav .menu {
    position: relative;
}

.main-nav .dropbtn {
    background-color: #f396aab0;
    color: #74125b;
    padding: 15px;
    border: 1px solid #74125b;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav .dropbtn:hover {
    background-color: #74125b;
    color: #f396aa;
}

.main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f396aada;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.main-nav .dropdown-content a {
    color: #74125b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
}

.main-nav .dropdown-content a:hover {
    background-color: #dddddd;
}

.main-nav .menu:hover .dropdown-content {
    display: block;
}

.home-links {
    display: flex;
    gap: 10px;
}

.home-links a {
    padding: 10px 15px;
    background-color: #f396aab0;
    border: 1px solid #74125b;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

header .home-links a:hover {
    background-color: #74125b;
    color: #f396aa;
}

header .home-links li:hover,
header .home-links a:hover{
    animation: scaleA 0.3s forwards ;
}

@keyframes scaleA{
    to {
        transform: scale(1.1);
    }
}

