* {
    color: #74125b; /* Color de fuente diferente de negro */
    font-style: italic; /* Fuente en itálicas */
}

body {
    background-color: #f396aa5b;
}

.home {
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f396aaa8;
}

nav {
    position: fixed; /* Hacer que el nav siga al hacer scroll */
    top: 0;
    width: 100%;
    background-color: #f396aa;
    z-index: 1000;
    border: 20px solid #f396aa;       
    background-color: #f396aa;
}

nav a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f396aaa8;
}

.text-centrado {
    text-align: center;
}

.fondo {
    background-color: #f396aaa8;
}

.video {
    border: 20px solid #f396aaa8;
    border-radius: 20px;
}

.navega {
    border: 20px solid #f396aa00;
    border-radius: 100px;
    background-color: #f396aa65;
}

/* Selector por ID */
#contacto {
    text-align: center; /* Alineación de texto centrado */
    text-decoration: underline; /* Decoración de texto subrayado */
}

/* Selector para elemento en línea */
span.important {
    font-weight: bold; /* Texto en negritas */
    text-transform: capitalize; /* Transformación del texto a capitalizado */
}

/* Selector de atributos para imágenes */
.imgan{
    width: 150px; /* Ancho */
    height: 150px; /* Alto */
    border-radius: 50%; /* Radio del borde */
}

iframe {
    display: block;
    margin: 0 auto;
}

audio {
    display: block;
    margin: 0 auto;
}

.centrar-tabla {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f396aab0; /* Opcional, para visualizar la tabla */
}

.ttabla {
    font-size: 22px; /* Tamaño de fuente personalizado */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    padding: 10px; /* Espaciado interno de las celdas */
    background-color: #f396aab0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f396aaa8;
}

.dtabla {
    font-size: 16px; /* Tamaño de fuente personalizado */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    padding: 10px; /* Espaciado interno de las celdas */
    border-radius: 20px;
    text-align: center;
    border: 2px solid #f396aaa8;
}

.bordes {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.image-text-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-text-container img {
    display: block;
    width: 100%;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    background: rgba(187, 19, 19, 0.301); /* Fondo semi-transparente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    backdrop-filter: blur(5px); /* Desenfoque del fondo */
}
